<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if @user.github_link.present?%>
            <%= link_to @user.github_link,  @user.github_link %>
        <% end%>
      </h1>
    </section>
  </aside>
</div>

<h5><%= @user.name %>'s Activity</h5>

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab].nil? %>'>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? %>
    <%= render(partial: 'posts/post', collection: @posts) || "None" %>
    <%= will_paginate @posts %>
<% elsif params[:tab] == 'comments' %>
    <%= render(partial: 'comments/comment', collection: @comments, locals: {show_post: true}) || "None" %>
    <%= will_paginate @comments%>
<% end %>